@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:500");
/*  COLOR CHOICES */
#hero {
  position: relative;
  background: url("/casual-cellphone-contemporary-1471752.f197abdc.jpg") no-repeat center;
  background-size: cover;
}
#hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.85;
  background-color: #094050;
  z-index: 0;
}

.container--hero {
  display: flex;
  flex-direction: column;
}

.hero__wrapper {
  position: relative;
  padding-top: 20%;
  text-align: right;
  width: 50%;
  z-index: 1;
  color: #fff;
}
.hero__wrapper--btn {
  width: 100%;
  display: flex;
  padding: 5rem 0 4.4rem 52%;
}
.hero__title {
  font-size: 4rem;
}
.hero__subtitle {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .hero__wrapper {
    text-align: center;
    width: 100%;
  }
  .hero__wrapper--btn {
    justify-content: center;
  }
}
@media screen and (max-width: 525px) {
  .hero__wrapper {
    text-align: center;
    width: 100%;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle {
    font-size: 1.75rem;
  }
  .hero__wrapper--btn {
    padding: 3rem 0;
    justify-content: center;
  }
}
nav {
  position: absolute;
  top: 20px;
  z-index: 3;
  width: 100%;
}
nav .container {
  display: flex;
  justify-content: space-between;
}

.menu-hamburger {
  width: 70px;
}

.navbar {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  transition: all 0.75s ease-in;
}
.navbar__logo {
  width: 130px;
}
.navbar__logo-image {
  width: 175px;
}
.navbar__icon {
  color: white;
  display: none;
  font-size: 3rem;
}
.navbar__item {
  font-size: 0.9rem;
  line-height: 3rem;
  margin: 0 0.5rem;
}
.navbar__item:last-child {
  margin-right: 0;
}
.navbar__link {
  text-decoration: none;
  color: #cccccc;
}
.navbar__link--active {
  font-weight: bold;
  color: white;
}

.navbar.show {
  right: 0%;
}

@media screen and (max-width: 590px) {
  .navbar {
    background-color: black;
    text-align: center;
    position: absolute;
    right: -60%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
  }
  .navbar__item {
    margin: 0;
    font-size: 1rem;
    border-bottom: 1px solid white;
  }
  .navbar__item:last-child {
    border-bottom: none;
  }
  .navbar__icon {
    display: inherit;
  }
}
#current-customers {
  padding: 3rem 0;
}

.current-customers__wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 1;
}
.current-customers__logo {
  display: block;
  width: 250px;
}

#customers {
  background-color: #045C59;
  padding: 2rem 0;
  color: white;
}

.industry-selector {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.selector__button {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 3rem;
}
.selector__button::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0.5rem auto;
  background-color: #fff;
}

.industry-info {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.industry-info__card-wrapper {
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 50%;
}
.industry-info__card {
  padding: 1.5rem;
  background-color: white;
  color: black;
  width: 60%;
  margin: 0 auto;
}
.industry-info__title {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}
.industry-info__image {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
.industry-info__image-wrapper {
  margin-left: 0.4rem;
  width: 50%;
}
.industry-info__bullet-points {
  list-style: none;
  margin: 1rem 0;
}
.industry-info__copy {
  margin: 1rem 0;
  text-align: justify;
}

.bullet-point {
  margin: 0.75rem 0;
}

@media screen and (max-width: 1200px) {
  .industry-info__card {
    width: 80%;
    padding: 0.25rem;
  }
}
@media screen and (max-width: 900px) {
  .industry-info__card {
    width: 100%;
    padding: 0.25rem;
  }
}
@media screen and (max-width: 600px) {
  .industry-info {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .industry-info__card-wrapper {
    width: 80%;
    margin: 1rem auto;
  }
  .industry-info__card {
    padding: 1rem;
  }
  .industry-info__image-wrapper {
    margin: 1rem auto;
  }
}
#how-it-works {
  padding: 2rem 0 6rem 0;
}

.process-card {
  width: 28%;
  background-color: #e1b76a;
  margin: 0 1rem;
  padding: 2rem 1rem 4rem 1rem;
  min-height: 550px;
}
.process-card__wrapper {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.process-card__title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0;
}
.process-card__description {
  margin-top: 3rem;
  line-height: 1.75rem;
}

@media screen and (min-width: 1100px) {
  .process-card {
    width: 22%;
  }
}
@media screen and (max-width: 810px) {
  .process-card {
    width: 90%;
    margin: 1rem auto;
    min-height: 0;
  }
}
#benefits {
  padding: 4rem 0;
}

.benefits__quote {
  font-size: 2rem;
  font-style: italic;
}
.benefits__floating-quote {
  width: 30%;
  float: right;
  margin-top: 2rem;
  padding: 1rem;
  font-weight: bold;
}
.benefits__floating-quote__footer {
  font-weight: inherit;
  font-style: italic;
  text-align: right;
}
.benefits__subtitle {
  margin: 1rem 0 0.75rem;
}
.benefits__description {
  margin-bottom: 1.5rem;
}
.benefits__source {
  text-align: right;
  color: #aaa;
  font-style: italic;
}

.quote-section {
  background-color: #062e39;
  color: white;
  text-align: center;
  padding: 4rem 0;
}

.quote__footer {
  margin-top: 1rem;
  font-style: normal;
}

@media screen and (max-width: 1200px) {
  .benefits__floating-quote {
    width: 35%;
  }
}
@media screen and (max-width: 575px) {
  .benefits__floating-quote {
    display: none;
  }
}
#contact-form {
  background-color: #094050;
  padding: 0.5rem 0 0;
  color: white;
}

.contact__body {
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  width: 50%;
  padding: 0 2rem 2rem 0;
}
.form-field {
  margin: 1rem 0;
}
.form-field:first-child {
  margin-top: 0;
}
.form__input-field {
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
}
.form__input-selector {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.form__textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

option {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.contact-form__quote {
  width: 50%;
  padding: 3rem;
  background-color: #e1b76a;
  font-style: italic;
  font-size: 1.25rem;
}

.contact-form__quote footer {
  padding: 1rem 0;
  font-style: normal;
  text-align: right;
}

@media screen and (max-width: 850px) {
  .form-control {
    width: 100%;
  }

  .contact-form__quote {
    width: 100%;
  }
}
.page-footer {
  padding: 2rem 0 3rem;
}

.social-media__icons {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 1rem 0;
}
.social-media__icon {
  margin: 0 1rem;
}

.footer__info {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer__entry {
  margin: 0 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
  clear: both;
}

.section__title {
  font-family: "Ubuntu", sans-serif;
  margin: 3rem;
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}
.section__title--min-bot-margin {
  margin-bottom: 1rem;
}

.section__subtitle {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.btn {
  position: relative;
  z-index: 1;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 10px;
}
.btn--lg {
  font-size: 1.75rem;
  padding: 1rem 1.75rem;
}
.btn--right {
  margin-top: 10%;
  margin-left: 65%;
}
.btn--yellow {
  background-color: #d9a33f;
  color: white;
}
.btn--wide {
  width: 100%;
}
.btn--red {
  background-color: #b71f2a;
  color: white;
}
.btn--non-rounded {
  border-radius: 0;
}

@media screen and (min-width: 1405px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .btn--right {
    margin-top: 30%;
  }
}
@media screen and (max-width: 400px) {
  .section__title {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=/app.c3f9f951.css.map */