#about {
    background-color: $orange;
}
.row {
    padding: 1rem 5% 1rem 2%;
    display: flex;
    justify-content: space-around;
}
#about {
    padding: 3rem 0 0 0;
}
.about {
    &__wrapper {
        display: flex;
    }
    &__info {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img {
        display: block;
        height: 350px;
        width: auto;
    }
    &__image-container {
        margin-top: auto;
    }
    &__title {
        color: white;
        padding-left: 5%;
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: bold;
    }
    &__description {
        color: #c7e4bc;
        padding: 0 7.5%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}
.clients {
    background-color: white;
    &__logo {
        width: auto;
        height: 65px;
        &--adj {
            height: 80px;
        }
    }
    &__description {
        color: #c7e4bc;
        padding-left: 7.5%;
        margin-bottom: 1.4rem;
        font-weight: bold;
        text-align: left;
    }
}

@media screen and (max-width: 1190px) {
    .clients {
        &__logo {
            height: 50px;
        }
    }
}

@media screen and (max-width: 930px) {
    .about{
        &__wrapper {
        flex-direction: column;
        }
        &__img {
            display: block;
            height: auto;
            width: 60%;
            margin: 0 auto;
        }
    }
    .clients__description {
        text-align: center;
    }

}

@media screen and (max-width: 400px) {
    .clients {
        &__logo {
            height: 40px;
        }
    }
}