#benefits {
    padding: 4rem 0;
}

.benefits{
    &__quote {
        font-size: 2rem;
        font-style: italic;
    }
    &__floating-quote {
    width: 30%;
    float: right;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: bold;
    &__footer {
        font-weight:inherit;
        font-style: italic;
        text-align: right;
    }
    }
    &__subtitle {
        margin: 1rem 0 0.75rem;
    }
    &__description {
        margin-bottom: 1.5rem;
    }
    &__source {
        text-align: right;
        color: #aaa;
        font-style: italic;
    }
}

.quote-section {
    background-color: $darker-blue;
    color: white;
    text-align: center;
    padding: 4rem 0;
}

.quote__footer {
    margin-top: 1rem;
    font-style: normal;
}

@media screen and (max-width: 1200px) {
    .benefits {
        &__floating-quote {
            width: 35%;
        }
    }
}

@media screen and (max-width: 575px) {
    .benefits {
        &__floating-quote {
            display: none;
        }
    }
}