#hero {
    position: relative;
    height: 100vh;
    background: url('../images/casual-cellphone-contemporary-1471752.jpg') no-repeat center;
    background-size: cover;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.596);
        z-index: 0;
    }
}

.hero {
    &__wrapper {
        position: relative;
        padding-top: 20%;
        width: 50%;
        text-align: right;
        z-index: 1;
        color: #fff;
    }

    &__title {
        font-size: 4rem;
    }
    &__subtitle {
        font-size: 2rem;
    }
}