#hero {
    position: relative;
    background: url('../images/casual-cellphone-contemporary-1471752.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 2.5rem;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.85;
        background-color: $dark-blue;
        z-index: 0;
    }
}

.container--hero {
    display: flex;
    flex-direction: column;
}

.hero {
    &__wrapper {
        position: relative;
        padding-top: 15%;
        text-align: right;
        width: 50%;
        z-index: 1;
        color: #fff;
    }
    &__wrapper--btn {
        width: 100%;
        display: flex;
        padding-left: 63%;
    }
    &__title {
        font-size: 3.5rem;
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    &__subtitle {
        font-size: 2rem;
        font-weight: 500;
    }
}


@media screen and (max-width: 768px) {
    .hero {
        &__wrapper {
            text-align: center;
            width: 100%;            
        }
        &__title {
            margin-top: 4rem;
        }
        &__wrapper--btn {
            justify-content: center;
            padding: 2rem 0 0 0;
        }
    }     
}

@media screen and (max-width: 525px) {
    .hero {
        &__wrapper {
            text-align: center;
            width: 100%;
        }
        &__title {
            font-size: 3rem;
        }
        &__subtitle {
            font-size: 1.75rem;
        }
        &__wrapper--btn {
            padding: 3rem 0;
            justify-content: center;
        }
    }    
}
