#how-it-works {
    padding: 2rem 0 6rem 0;
}

.process-card {
    width: 28%;
    background-color: $light-yellow;
    margin: 0 1rem;
    padding: 2rem 1rem 4rem 1rem;
    min-height: 550px;
    color: white;
    &__wrapper {
        margin: 4rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 2rem;
        text-align: center;
        margin: 1rem 0;
    }
    &__description {
        margin-top: 3rem;
        line-height: 1.75rem;
    }
}

@media screen and (min-width: 1100px) {
    .process-card {
        width: 22%;    

    }
}

@media screen and (max-width: 810px) {
    .process-card {
        width: 90%;  
        margin: 1rem auto;  
        min-height: 0;
    }
}