#login-portal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../src/images/Point\ N\ Save\ LOGO.png');
    background-position: 50% -10%;
    background-size: contain;
    background-repeat: no-repeat;
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(255,255,255, 0.5);
    }
}

img {
    width: 100%;
    height: auto;
}

.portal {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color:$orange;
    color: white;
    min-height: 200px;
    padding: 3rem 1rem;
    border-radius: 10px;
    &__form {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    &__text {
        text-align: center;
    }
    &__link {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: black;
    }
}

.portal select {
    padding: 5px;
    border-radius: 2px;
}

.portal select, .portal .btn {
    margin: 0.5rem 0;
}

@media screen and (max-width: 900px) {
    .portal {
        width : 80%;
    }
    #login-portal {
        background-position: 50% 10%;
    }
}


@media screen and (max-width: 600px) {
    .portal {
        width : 90%;
    }
}

@media screen and (max-width: 515px) {
    .portal__form {
        width : 80%;
    }
}
