/*  COLOR CHOICES */

$dark-blue: #094050;
$darker-blue: darken($dark-blue, 5%);
$light-gray: #cccccc;
$green: #045C59;
$dark-green: darken($green, 10%);
$light-green: #26827f;
$lighter-green: lighten($light-green, 40%);
$yellow: #d9a33f;
$cream: #f5edde;
$dark-yellow: darken($yellow, 20%);
$darker-yellow: #b17300;
$light-yellow: lighten($yellow, 10%);
$red: #b71f2a;
$orange: #C35146;
$light-orange: #FF973E;