/*  COLOR CHOICES */

$dark-blue: #094050;
$darker-blue: darken($dark-blue, 5%);
$light-gray: #cccccc;
$green: #045C59;
$light-green: #26827f;
$yellow: #d9a33f;
$light-yellow: lighten($yellow, 10%);
$red: #b71f2a;